

// FONTS
$main-font: 'Roboto Condensed', sans-serif;


// COLOURS
$blackFontColour: black;
$whiteFontColour: white;
$navBackgroundColour: #E73C6A;
$sideNoteColour: #E6226A;
$greyFontColour: #3B3B3B;
$backgroundColour: #dddddd;
$formBackgroundColour: #bbbbbb;


// BORDERS
$blackBorder: 1px solid black;