
@import "./variables";
@import "./mixins";
@import "./medium-devices";
@import "./small-devices";

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: $main-font;
    // background-color: $backgroundColour;
    background-color: white;
}

// nav {

//     padding: 8px;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1;
//     background-color: $navBackgroundColour;

//     // Nav Logo
//     .nav-logo { 
//         float: right;
//         margin-right: 14px;
        
//         img {
//             width: 140px;
//             height: auto;
//         }
//     }
// }
.pink-bar {
    height: 60px;
    width: 100%;
  
    z-index: 1;
    background-color: #E73C6A;
  }
  
  
  
  .logo {
    padding-top: 10px;
    float: right;
    margin-right: 14px;
  }
  
  .logo img {
    width: 140px;
    height: auto;
  }

.main-content-wrapper {
    //border: $blackBorder;
    position: absolute;
    width: 100%;

    .hidden {
        display: none;
    }
    .display-block {
        display: block;
    }
    .display-table-row {
        display: table-row;
    }
    .display-table-heading {
        display: table-cell;
    }
    .div-filler {
        height: 80px;
        width: 100%;
    }
    .responsive {
        width: 100%;
        height: auto;
    }

    // .toggleFont {
        
    //     p {
    //         font-size: 24!important;
    //     }
    // }

    .main-content {
        width: 90%;
        margin: 0 auto;
        padding: 0px;
        
        .main-content-title {
            padding: 100px 0px 0px;
        }
    
        .m-c-info-text {
            padding: 10px 0;
            //border: $blackBorder;
            margin: 0 auto;
        }

        .scenario-para {
            //border: $blackBorder;
                width: 100%;        
                margin: 0 auto;
                text-align: left;
                font-size: 18px;
        }



        // table
        .database-table {
            width: 100%;
            //border: $blackBorder;
        
            .database-table-content {
                //border: $blackBorder;
                //text-align: center;
                padding: 0px;
                //margin: 0;


                table, th, tr, td {
                    border: $blackBorder;
                }
                table {
                    width: 100%;
                    //margin: 0 auto;
    
                    padding: 10px;
                    border-radius: 5px;

                    tr {
                    
                        th {
                            font-size: 32px;
                            padding: 8px;
                        }
    
                        td {
                            padding: 8px;


                            // select#microbiology-dropdown {

                            //     optgroup {
                            //         option {
                            //             li {
                            //                 position: relative;
                            //                 padding: 20px;
                            //             }
                            //         }
                            //     }
                            // }
                        }
                    }



                    // table classes
                    .small-textbox {
                        width: 100%;
                        max-width: 250px;
                        box-sizing: border-box;
                        background-color: $formBackgroundColour;
                    }
    
                    .large-textbox {
                        width: 100%;
                        max-width: 700px;
                        box-sizing: border-box;
                        background-color: $formBackgroundColour;
                    }

                    .scrollable-textbox {
                        height: 80px;
                        max-width: 700px;
                        width: 100%;
                        box-sizing: border-box;
                        overflow: auto;
                        background-color: $formBackgroundColour;
                    }
    
                    .small-dropdown {
                        width: 100%;
                        max-width: 250px;
                        box-sizing: border-box;
                        background-color: $formBackgroundColour;
                    }

                    .large-dropdown {
                        width: 100%;
                        max-width: 700px;
                        box-sizing: border-box;
                        background-color: $formBackgroundColour;
                    }

                    .table-subheading {
                        font-size: 24px;
                        // text-align: left;
                    }
                    // end table classes

                    #wound-assessment-heading-row {
                        background-color: black!important;
                        color: white;
                    }
                    #sepsis-subheading {
                        background-color: black!important;
                        color: white; 
                    }
                    #photos-heading-row {
                        background-color: black!important;
                        color: white; 
                    }
                    #management-heading-row {
                        background-color: black!important;
                        color: white; 
                    }

                    .wound-photo-form {

                    // display: flex;

                    .row {

                        // img {

                        // }
                        // display: flex;
                        // justify-content: center;
                        //display: -ms-flexbox; /* IE10 */
                        display: flex;
                        //-ms-flex-wrap: wrap; /* IE10 */
                        flex-wrap: wrap;

                        .column {

                            flex: 25%;
                            max-width: 20%;
                        }


                        .wound-photo {

                            //border: $blackBorder;
                            text-align: center;

                            // height: auto;
                            // width: 100%;

                            vertical-align: middle;
                            width: 100%;

                            // input {
                            //     text-align: center;
                            // }
                        }

                        
                    }
                    
                    
                }
                .wound-photo-answer {
                    height: 50px;
                    //padding: 20px;
                    text-align: center;
                    //border: $blackBorder;
                }

                }
                

            }

        }    
    }

    .hidden-pdf {
        p {  margin-top: 0.6em; margin-bottom: 0em; }

    }
}